body {
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; 
  margin: 0px;
  }
  body label.error {
    color: red; }
  body h3 {
    display: flex;
    justify-content: center; }
  body .container {
    border-radius: 5px;
    padding: 20px; }
    body .container #form_popup .field_name {
      margin-bottom: 10px; }
      body .container #form_popup .field_name .label_text {
        margin: 10px 0;
        font-weight: bold; }
      body .container #form_popup .field_name .input_field {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 8px;
        resize: vertical; }
    body .container #form_popup .field_email {
      margin-bottom: 10px; }
      body .container #form_popup .field_email .label_text {
        margin-top: 10px 0;
        font-weight: bold; }
      body .container #form_popup .field_email .input_field {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 8px;
        resize: vertical; }
    body .container #form_popup .label_text {
      margin: 10px 0;
      font-weight: bold; }
    body .container #form_popup #radio {
      margin-top: 6px;
      display: flex;
      margin-bottom: 16px;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap; }
      body .container #form_popup #radio .item_radio {
        display: flex; }
    body .container #form_popup #date_time {
      width: 90%;
      display: flex;
      justify-content: space-around;
      margin-left: 25px; }
      body .container #form_popup #date_time .start_date {
        width: 50%; }
        body .container #form_popup #date_time .start_date input {
          margin: 10px 0;
          width: 90%; }
        body .container #form_popup #date_time .start_date label {
          text-align: start;
          font-weight: bold; }
      body .container #form_popup #date_time .end_date {
        width: 50%;
        flex-direction: column; }
        body .container #form_popup #date_time .end_date input {
          margin: 10px 0;
          width: 90%; }
        body .container #form_popup #date_time .end_date label {
          font-weight: bold; }
    body .container #form_popup .field_leader {
      flex-direction: column; }
      body .container #form_popup .field_leader span {
        font-weight: bold; }
      body .container #form_popup .field_leader select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        background-color: white;
        resize: vertical; }
    body .container #form_popup .reason label {
      font-weight: bold; }
    body .container #form_popup .button {
      margin-top: 10px;
      display: flex;
      justify-content: flex-end; }

input[type=submit] {
  background-color: #4bbe81;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: vertical;
}
.img{
  height: 65px;
  width: 100%;
  background-color:#4bbe81;
}

.img img{
    display: block;
    width: 30%;
    margin-left: auto;
    height: 100%;
    margin-right: auto;
    object-fit: cover;
}
.container{
  margin: 6px;
  margin-top: 5px;
  border: 1px solid #4bbe81;
  border-radius: 10px;
  height: 100%;
}
/*# sourceMappingURL=popup.css.map */
